workflow.json
{
  "updatedAt": "2026-03-25T02:01:39.751Z",
  "createdAt": "2026-03-11T13:38:57.175Z",
  "id": "YOUR_WF3_WORKFLOW_ID",
  "name": "Call Transcription & Analysis (WF3)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## WF3 \u2014 Discovery Call Transcription\n\n**Trigger:** New audio file in Google Drive `Discovery Calls/incoming/`\n\n**What it does:**\n1. Extracts phone number from Oppo A5 filename\n2. Matches phone against Leads sheet\n3. If not a lead \u2192 stops immediately, file stays in incoming/ (personal call)\n4. Downloads audio \u2192 uploads to AssemblyAI \u2192 polls until transcription complete\n5. Analyses transcript with Claude (pain points, CRM, interest level, next steps)\n6. Logs structured analysis + full transcript to 'Discovery Calls' tab\n7. Updates Outcome column in Leads tab\n8. Sends SMS summary to Brandon\n9. Moves file to `processed/`\n\n**Filename format (Oppo A5 built-in recorder):**\n`+6421XXXXXXX-YYMMDDHHMM.awb`",
        "height": 400,
        "width": 480,
        "color": 4
      },
      "id": "c9bf3f93-8836-49c8-b4e2-bf4dc0cfbdcb",
      "name": "Workflow Description",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        64
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_INCOMING_FOLDER_ID",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "366500f7-e12f-4ed1-af2f-18d954e5c962",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        368,
        384
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const filename = $input.item.json.name || '';\nconst fileId   = $input.item.json.id   || '';\n\nfunction normalizePhone(raw) {\n  if (!raw) return null;\n  const cleaned = raw.replace(/[\\s\\-\\(\\)]/g, '');\n  if (raw.startsWith('+64'))              return raw.replace(/[\\s\\-\\(\\)]/g, '');\n  if (cleaned.startsWith('64') && cleaned.length >= 11) return '+' + cleaned;\n  if (cleaned.startsWith('0'))            return '+64' + cleaned.slice(1);\n  return null;\n}\n\n// Oppo A5 built-in recorder format: {phone_number}-YYMMDDHHMM.awb\n// e.g. +6421XXXXXXX-2603112045.awb\nlet phoneRaw = null;\nlet callDate = new Date().toISOString().slice(0, 10);\n\nconst nameNoExt = filename.replace(/\\.\\w+$/, '');\nconst parts = nameNoExt.split('-');\nconst lastPart = parts[parts.length - 1];\n\nif (/^\\d{10}$/.test(lastPart)) {\n  // Last segment is YYMMDDHHMM timestamp\n  const yy = lastPart.slice(0, 2);\n  const mm = lastPart.slice(2, 4);\n  const dd = lastPart.slice(4, 6);\n  callDate = `20${yy}-${mm}-${dd}`;\n  phoneRaw = parts.slice(0, -1).join('-');\n} else {\n  // Fallback: regex scan for phone number anywhere in filename\n  const e164Match = filename.match(/\\+64\\d{8,10}/);\n  if (e164Match) {\n    phoneRaw = e164Match[0];\n  } else {\n    const localMatch = filename.match(/0[2-9]\\d{7,9}/);\n    if (localMatch) phoneRaw = localMatch[0];\n  }\n  // Fallback date: YYYYMMDD pattern\n  const dateMatch = filename.match(/(\\d{8})/);\n  if (dateMatch) {\n    const rawDate = dateMatch[1];\n    callDate = `${rawDate.slice(0,4)}-${rawDate.slice(4,6)}-${rawDate.slice(6,8)}`;\n  }\n}\n\nconst phone = phoneRaw ? normalizePhone(phoneRaw) : null;\n\nreturn [{ json: { file_id: fileId, filename, phone_e164: phone, call_date: callDate } }];"
      },
      "id": "6630ed16-4351-415d-a91a-dc4c01e78909",
      "name": "Extract Phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        384
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name",
          "cachedResultName": "Leads"
        },
        "combineFilters": "AND",
        "options": {}
      },
      "id": "856247d4-0f23-4551-b2dc-ebc3c68eadb5",
      "name": "Read Leads Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        816,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const phone = $('Extract Phone').item.json.phone_e164;\n\n// No phone in filename \u2014 not a trackable call\nif (!phone) {\n  return [{ json: { matched: false, lead_name: null, lead_agency: null, lead_mobile: null } }];\n}\n\nfunction normalize(p) {\n  if (!p) return '';\n  return p.replace(/[\\s\\-\\(\\)]/g, '').replace(/^\\+64/, '0').replace(/^64/, '0');\n}\n\nconst target = normalize(phone);\nconst rows   = $input.all();\nlet match    = null;\n\nfor (const item of rows) {\n  const mobile = (item.json['Mobile'] || '').trim();\n  if (normalize(mobile) === target) { match = item.json; break; }\n}\n\nif (!match) {\n  return [{ json: { matched: false, lead_name: null, lead_agency: null, lead_mobile: null } }];\n}\n\nreturn [{ json: {\n  matched:      true,\n  lead_name:    match['Name']   || 'Unknown',\n  lead_agency:  match['Agency'] || '',\n  lead_mobile:  match['Mobile'] || phone,\n  lead_city:    match['City']   || '',\n  lead_email:   match['Email']  || '',\n}}];"
      },
      "id": "b9b8d902-e7e1-4db5-9a5f-2079c148cb5e",
      "name": "Match Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "95747cb6-84ae-42c9-97cb-206bffad01e6",
              "leftValue": "={{ $json.matched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "07882bd9-06ce-449e-a4af-49fad163cb60",
      "name": "Lead Matched?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1264,
        384
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Extract Phone').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "db814a33-4c20-4dde-aad2-d9440191473a",
      "name": "Download Audio",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1488,
        384
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileInput": "data"
      },
      "id": "019d7eb3-3c6f-4681-9f9d-288b7d6eac0c",
      "name": "Upload to AssemblyAI",
      "type": "n8n-nodes-assemblyai.assemblyAi",
      "typeVersion": 1,
      "position": [
        1712,
        384
      ],
      "credentials": {
        "assemblyAiApi": {
          "id": "YOUR_ASSEMBLYAI_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "audioUrl": "={{ $json.upload_url }}",
        "additionalFields": {
          "speaker_labels": true,
          "speech_models": "universal-2"
        }
      },
      "id": "d312be1e-57d4-446c-91eb-9eb1f2468923",
      "name": "Submit Transcription",
      "type": "n8n-nodes-assemblyai.assemblyAi",
      "typeVersion": 1,
      "position": [
        1936,
        384
      ],
      "credentials": {
        "assemblyAiApi": {
          "id": "YOUR_ASSEMBLYAI_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "f0b7425f-0705-4464-9c43-dd3fb0eb9162",
      "name": "Wait for Transcription",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2160,
        384
      ],
      "webhookId": "563bdce4-5ede-4c71-bcb8-909de257add0"
    },
    {
      "parameters": {
        "operation": "get",
        "transcriptId": "={{ $('Submit Transcription').item.json.id }}"
      },
      "id": "8e9abe74-bf61-4fb5-b978-8d5730862341",
      "name": "Get Transcription",
      "type": "n8n-nodes-assemblyai.assemblyAi",
      "typeVersion": 1,
      "position": [
        2384,
        304
      ],
      "credentials": {
        "assemblyAiApi": {
          "id": "YOUR_ASSEMBLYAI_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9b99f7cb-00c1-4453-9c7f-8ceb4b5cc90a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "527e2044-1e79-4f30-a961-e05e0c7728e2",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2608,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Formats AssemblyAI completed transcript.\n// If speaker diarization is available, outputs \"Speaker A: ...\" lines.\n// Falls back to plain text if utterances are missing.\nconst json = $input.item.json;\n\nlet transcript = '';\nif (Array.isArray(json.utterances) && json.utterances.length > 0) {\n  transcript = json.utterances\n    .map(u => `Speaker ${u.speaker}: ${u.text}`)\n    .join('\\n');\n} else {\n  transcript = json.text || '';\n}\n\nreturn [{ json: { transcript } }];"
      },
      "id": "203c009d-9e90-4693-af95-344bf19e3f2f",
      "name": "Extract Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead      = $('Match Lead').item.json;\nconst callDate  = $('Extract Phone').item.json.call_date;\nconst transcript = $('Extract Transcript').item.json.transcript || '';\n\nconst prompt = `You are an assistant to an automation developer in New Zealand who works with real estate agents.\n\nAnalyse this discovery call transcript and return ONLY valid JSON with this exact structure:\n\n{\n  \"summary\": \"2-3 sentence summary of the call\",\n  \"pain_points\": [\"pain point 1\", \"pain point 2\"],\n  \"crm_tools\": [\"tool/CRM name\"],\n  \"agent_type\": \"e.g. Independent, Franchise, Residential, Commercial, Development\",\n  \"team_size\": \"e.g. Solo, 2-5, 5+\",\n  \"interest_level\": \"Hot | Warm | Cold\",\n  \"interest_reasoning\": \"1-2 sentences explaining why\",\n  \"suggested_automations\": [\n    {\"name\": \"automation name\", \"description\": \"how it would help this specific agent\"}\n  ],\n  \"next_steps\": [\"specific action 1\", \"specific action 2\"],\n  \"objections\": [\"objection 1 if any\"]\n}\n\nContext:\n- Lead name: ${lead.lead_name}\n- Agency: ${lead.lead_agency || 'Unknown'}\n- Call date: ${callDate}\n- NZ real estate CRMs to watch for: ARO Software, Rex, PropertyMe, Agentbox, MyDesktop, Vault\n- Common pain points: enquiry follow-up speed, appraisal prep, listing admin, open home follow-up, buyer nurturing\n- Automation pitch framing: human-in-the-loop \u2014 agent approves everything\n- Transcript may use \"Speaker A / Speaker B\" labels \u2014 Speaker A is typically Brandon (the caller), Speaker B is the agent (the lead)\n\nTranscript:\n${transcript}`;\n\nreturn [{ json: { prompt } }];"
      },
      "id": "40b3cf41-9f76-450a-a5d4-11c41abc4973",
      "name": "Build Claude Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        384
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('Build Claude Payload').item.json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "69006d82-8775-4065-8add-6c77194e227e",
      "name": "Analyse with Claude",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        3280,
        384
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const json      = $input.item.json;\nconst lead      = $('Match Lead').item.json;\nconst phoneMeta = $('Extract Phone').item.json;\nconst transcript = $('Extract Transcript').item.json.transcript || '';\n\n// Anthropic node returns json.text; OpenAI node returns json.message.content\nlet raw = json.text || (json.message && json.message.content) || '';\nraw = raw.trim().replace(/^```json?\\s*/i, '').replace(/\\s*```$/, '');\n\nlet a;\ntry {\n  a = JSON.parse(raw);\n} catch(e) {\n  a = {\n    summary: 'Parse error \u2014 review transcript manually',\n    pain_points: [], crm_tools: [], agent_type: 'Unknown',\n    team_size: 'Unknown', interest_level: 'Unknown',\n    interest_reasoning: '', suggested_automations: [],\n    next_steps: ['Review transcript manually'], objections: [],\n  };\n}\n\nconst arr = (v) => Array.isArray(v) ? v : [];\n\nconst pain_str = arr(a.pain_points).join('; ');\nconst crm_str  = arr(a.crm_tools).join(', ');\nconst auto_str = arr(a.suggested_automations)\n  .map(x => typeof x === 'object' ? `${x.name}: ${x.description}` : String(x))\n  .join(' | ');\nconst next_str = arr(a.next_steps).join(' | ');\nconst obj_str  = arr(a.objections).join('; ');\n\nconst sms_body = [\n  `Call: ${lead.lead_name} (${lead.lead_agency || 'Unknown agency'}) \u2014 ${phoneMeta.call_date}`,\n  `Interest: ${a.interest_level} \u2014 ${a.interest_reasoning || ''}`,\n  `Pain: ${arr(a.pain_points).slice(0, 2).join(', ') || 'See report'}`,\n  `Next: ${arr(a.next_steps)[0] || 'Review notes'}`,\n].join('\\n');\n\nreturn [{ json: {\n  // Structured analysis\n  summary:                  a.summary || '',\n  pain_points_str:          pain_str,\n  crm_tools_str:            crm_str,\n  agent_type:               a.agent_type || '',\n  team_size:                a.team_size || '',\n  interest_level:           a.interest_level || '',\n  interest_reasoning:       a.interest_reasoning || '',\n  suggested_automations_str: auto_str,\n  next_steps_str:           next_str,\n  objections_str:           obj_str,\n  // Lead context\n  lead_name:    lead.lead_name,\n  lead_agency:  lead.lead_agency,\n  lead_mobile:  lead.lead_mobile,\n  call_date:    phoneMeta.call_date,\n  file_id:      phoneMeta.file_id,\n  // Full transcript\n  transcript,\n  // SMS\n  sms_body,\n}}];"
      },
      "id": "ac6e466d-abda-4431-ba65-fd0d4367bee5",
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3632,
        384
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Discovery Calls",
          "mode": "name",
          "cachedResultName": "Discovery Calls"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.call_date }}",
            "Lead Name": "={{ $json.lead_name }}",
            "Phone": "={{ $json.lead_mobile }}",
            "Summary": "={{ $json.summary }}",
            "Pain Points": "={{ $json.pain_points_str }}",
            "Tools / CRM Used": "={{ $json.crm_tools_str }}",
            "Agent Type": "={{ $json.agent_type }}",
            "Interest Level": "={{ $json.interest_level }}",
            "Suggested Automations": "={{ $json.suggested_automations_str }}",
            "Recommended Next Steps": "={{ $json.next_steps_str }}",
            "Objections Raised": "={{ $json.objections_str }}",
            "Transcript": "={{ $json.transcript }}"
          }
        },
        "options": {}
      },
      "id": "a1a79912-61ef-4d9b-88bb-864757db8449",
      "name": "Log to Discovery Calls",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3856,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name",
          "cachedResultName": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mobile": "={{ $('Parse Analysis').item.json.lead_mobile }}",
            "Outcome": "Discovery Call Done",
            "row_number": 0
          },
          "matchingColumns": [
            "Mobile"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Agency",
              "displayName": "Agency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Scraped",
              "displayName": "Date Scraped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Initial Sent",
              "displayName": "Initial Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Initial Message",
              "displayName": "Initial Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "F1 Sent",
              "displayName": "F1 Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "F1 Message",
              "displayName": "F1 Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "F2 Sent",
              "displayName": "F2 Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "F2 Message",
              "displayName": "F2 Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Replied",
              "displayName": "Replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reply After",
              "displayName": "Reply After",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reply Received",
              "displayName": "Reply Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reply Text",
              "displayName": "Reply Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Outcome",
              "displayName": "Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead_Replies",
              "displayName": "Lead_Replies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Brandon_Replies",
              "displayName": "Brandon_Replies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Variant",
              "displayName": "Variant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "_is_manual_reply",
              "displayName": "_is_manual_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone_for_conv",
              "displayName": "phone_for_conv",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b0a2e5eb-a777-4f2d-9aac-40f2ab80346c",
      "name": "Update Leads Outcome",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4080,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Extract Phone').item.json.file_id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_DISCOVERY_CALLS_SHEET_ID",
          "mode": "id"
        }
      },
      "id": "9345da7d-77f1-4a13-a55f-fefd9089befc",
      "name": "Move to Processed",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4304,
        384
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Extract Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Phone": {
      "main": [
        [
          {
            "node": "Read Leads Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads Sheet": {
      "main": [
        [
          {
            "node": "Match Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Lead": {
      "main": [
        [
          {
            "node": "Lead Matched?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Matched?": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Upload to AssemblyAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to AssemblyAI": {
      "main": [
        [
          {
            "node": "Submit Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Transcription": {
      "main": [
        [
          {
            "node": "Wait for Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Transcription": {
      "main": [
        [
          {
            "node": "Get Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transcription": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Extract Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Transcript": {
      "main": [
        [
          {
            "node": "Build Claude Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Payload": {
      "main": [
        [
          {
            "node": "Analyse with Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse with Claude": {
      "main": [
        [
          {
            "node": "Parse Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analysis": {
      "main": [
        [
          {
            "node": "Log to Discovery Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Discovery Calls": {
      "main": [
        [
          {
            "node": "Update Leads Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Leads Outcome": {
      "main": [
        [
          {
            "node": "Move to Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2026-04-01T20:22:15Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "YOUR_WF3_VERSION_ID",
  "activeVersionId": "YOUR_WF3_ACTIVE_VERSION_ID",
  "versionCounter": 179,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-11T13:38:57.177Z",
      "createdAt": "2026-03-11T13:38:57.177Z",
      "role": "workflow:owner",
      "workflowId": "YOUR_WF3_WORKFLOW_ID",
      "projectId": "YOUR_N8N_PROJECT_ID",
      "project": {
        "updatedAt": "2026-03-09T23:25:14.299Z",
        "createdAt": "2026-03-09T23:01:24.415Z",
        "id": "YOUR_N8N_PROJECT_ID",
        "name": "Your Name <your@email.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "YOUR_N8N_USER_ID"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-18T19:58:23.000Z",
    "createdAt": "2026-03-18T19:53:04.972Z",
    "versionId": "YOUR_WF3_ACTIVE_VERSION_ID",
    "workflowId": "YOUR_WF3_WORKFLOW_ID",
    "nodes": [
      {
        "parameters": {
          "content": "## WF3 \u2014 Discovery Call Transcription\n\n**Trigger:** New audio file in Google Drive `Discovery Calls/incoming/`\n\n**What it does:**\n1. Extracts phone number from Oppo A5 filename\n2. Matches phone against Leads sheet\n3. If not a lead \u2192 stops immediately, file stays in incoming/ (personal call)\n4. Downloads audio \u2192 uploads to AssemblyAI \u2192 polls until transcription complete\n5. Analyses transcript with Claude (pain points, CRM, interest level, next steps)\n6. Logs structured analysis + full transcript to 'Discovery Calls' tab\n7. Updates Outcome column in Leads tab\n8. Sends SMS summary to Brandon\n9. Moves file to `processed/`\n\n**Filename format (Oppo A5 built-in recorder):**\n`+6421XXXXXXX-YYMMDDHHMM.awb`",
          "height": 400,
          "width": 480,
          "color": 4
        },
        "id": "c9bf3f93-8836-49c8-b4e2-bf4dc0cfbdcb",
        "name": "Workflow Description",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -208,
          64
        ]
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "YOUR_GOOGLE_DRIVE_INCOMING_FOLDER_ID",
            "mode": "id"
          },
          "event": "fileCreated",
          "options": {}
        },
        "id": "366500f7-e12f-4ed1-af2f-18d954e5c962",
        "name": "Google Drive Trigger",
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          368,
          384
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const filename = $input.item.json.name || '';\nconst fileId   = $input.item.json.id   || '';\n\nfunction normalizePhone(raw) {\n  if (!raw) return null;\n  const cleaned = raw.replace(/[\\s\\-\\(\\)]/g, '');\n  if (raw.startsWith('+64'))              return raw.replace(/[\\s\\-\\(\\)]/g, '');\n  if (cleaned.startsWith('64') && cleaned.length >= 11) return '+' + cleaned;\n  if (cleaned.startsWith('0'))            return '+64' + cleaned.slice(1);\n  return null;\n}\n\n// Oppo A5 built-in recorder format: {phone_number}-YYMMDDHHMM.awb\n// e.g. +6421XXXXXXX-2603112045.awb\nlet phoneRaw = null;\nlet callDate = new Date().toISOString().slice(0, 10);\n\nconst nameNoExt = filename.replace(/\\.\\w+$/, '');\nconst parts = nameNoExt.split('-');\nconst lastPart = parts[parts.length - 1];\n\nif (/^\\d{10}$/.test(lastPart)) {\n  // Last segment is YYMMDDHHMM timestamp\n  const yy = lastPart.slice(0, 2);\n  const mm = lastPart.slice(2, 4);\n  const dd = lastPart.slice(4, 6);\n  callDate = `20${yy}-${mm}-${dd}`;\n  phoneRaw = parts.slice(0, -1).join('-');\n} else {\n  // Fallback: regex scan for phone number anywhere in filename\n  const e164Match = filename.match(/\\+64\\d{8,10}/);\n  if (e164Match) {\n    phoneRaw = e164Match[0];\n  } else {\n    const localMatch = filename.match(/0[2-9]\\d{7,9}/);\n    if (localMatch) phoneRaw = localMatch[0];\n  }\n  // Fallback date: YYYYMMDD pattern\n  const dateMatch = filename.match(/(\\d{8})/);\n  if (dateMatch) {\n    const rawDate = dateMatch[1];\n    callDate = `${rawDate.slice(0,4)}-${rawDate.slice(4,6)}-${rawDate.slice(6,8)}`;\n  }\n}\n\nconst phone = phoneRaw ? normalizePhone(phoneRaw) : null;\n\nreturn [{ json: { file_id: fileId, filename, phone_e164: phone, call_date: callDate } }];"
        },
        "id": "6630ed16-4351-415d-a91a-dc4c01e78909",
        "name": "Extract Phone",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          592,
          384
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "YOUR_SPREADSHEET_ID",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Leads",
            "mode": "name",
            "cachedResultName": "Leads"
          },
          "combineFilters": "AND",
          "options": {}
        },
        "id": "856247d4-0f23-4551-b2dc-ebc3c68eadb5",
        "name": "Read Leads Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          816,
          384
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const phone = $('Extract Phone').item.json.phone_e164;\n\n// No phone in filename \u2014 not a trackable call\nif (!phone) {\n  return [{ json: { matched: false, lead_name: null, lead_agency: null, lead_mobile: null } }];\n}\n\nfunction normalize(p) {\n  if (!p) return '';\n  return p.replace(/[\\s\\-\\(\\)]/g, '').replace(/^\\+64/, '0').replace(/^64/, '0');\n}\n\nconst target = normalize(phone);\nconst rows   = $input.all();\nlet match    = null;\n\nfor (const item of rows) {\n  const mobile = (item.json['Mobile'] || '').trim();\n  if (normalize(mobile) === target) { match = item.json; break; }\n}\n\nif (!match) {\n  return [{ json: { matched: false, lead_name: null, lead_agency: null, lead_mobile: null } }];\n}\n\nreturn [{ json: {\n  matched:      true,\n  lead_name:    match['Name']   || 'Unknown',\n  lead_agency:  match['Agency'] || '',\n  lead_mobile:  match['Mobile'] || phone,\n  lead_city:    match['City']   || '',\n  lead_email:   match['Email']  || '',\n}}];"
        },
        "id": "b9b8d902-e7e1-4db5-9a5f-2079c148cb5e",
        "name": "Match Lead",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          384
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "95747cb6-84ae-42c9-97cb-206bffad01e6",
                "leftValue": "={{ $json.matched }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "07882bd9-06ce-449e-a4af-49fad163cb60",
        "name": "Lead Matched?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1264,
          384
        ]
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Extract Phone').item.json.file_id }}",
            "mode": "id"
          },
          "options": {}
        },
        "id": "db814a33-4c20-4dde-aad2-d9440191473a",
        "name": "Download Audio",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1488,
          384
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "fileInput": "data"
        },
        "id": "019d7eb3-3c6f-4681-9f9d-288b7d6eac0c",
        "name": "Upload to AssemblyAI",
        "type": "n8n-nodes-assemblyai.assemblyAi",
        "typeVersion": 1,
        "position": [
          1712,
          384
        ],
        "credentials": {
          "assemblyAiApi": {
            "id": "YOUR_ASSEMBLYAI_CREDENTIAL_ID",
            "name": "AssemblyAI account"
          }
        }
      },
      {
        "parameters": {
          "audioUrl": "={{ $json.upload_url }}",
          "additionalFields": {
            "speaker_labels": true,
            "speech_models": "universal-2"
          }
        },
        "id": "d312be1e-57d4-446c-91eb-9eb1f2468923",
        "name": "Submit Transcription",
        "type": "n8n-nodes-assemblyai.assemblyAi",
        "typeVersion": 1,
        "position": [
          1936,
          384
        ],
        "credentials": {
          "assemblyAiApi": {
            "id": "YOUR_ASSEMBLYAI_CREDENTIAL_ID",
            "name": "AssemblyAI account"
          }
        }
      },
      {
        "parameters": {
          "amount": 10
        },
        "id": "f0b7425f-0705-4464-9c43-dd3fb0eb9162",
        "name": "Wait for Transcription",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2160,
          384
        ],
        "webhookId": "563bdce4-5ede-4c71-bcb8-909de257add0"
      },
      {
        "parameters": {
          "operation": "get",
          "transcriptId": "={{ $('Submit Transcription').item.json.id }}"
        },
        "id": "8e9abe74-bf61-4fb5-b978-8d5730862341",
        "name": "Get Transcription",
        "type": "n8n-nodes-assemblyai.assemblyAi",
        "typeVersion": 1,
        "position": [
          2384,
          304
        ],
        "credentials": {
          "assemblyAiApi": {
            "id": "YOUR_ASSEMBLYAI_CREDENTIAL_ID",
            "name": "AssemblyAI account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "9b99f7cb-00c1-4453-9c7f-8ceb4b5cc90a",
                "leftValue": "={{ $json.status }}",
                "rightValue": "completed",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "527e2044-1e79-4f30-a961-e05e0c7728e2",
        "name": "Check Status",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2608,
          384
        ]
      },
      {
        "parameters": {
          "jsCode": "// Formats AssemblyAI completed transcript.\n// If speaker diarization is available, outputs \"Speaker A: ...\" lines.\n// Falls back to plain text if utterances are missing.\nconst json = $input.item.json;\n\nlet transcript = '';\nif (Array.isArray(json.utterances) && json.utterances.length > 0) {\n  transcript = json.utterances\n    .map(u => `Speaker ${u.speaker}: ${u.text}`)\n    .join('\\n');\n} else {\n  transcript = json.text || '';\n}\n\nreturn [{ json: { transcript } }];"
        },
        "id": "203c009d-9e90-4693-af95-344bf19e3f2f",
        "name": "Extract Transcript",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2832,
          384
        ]
      },
      {
        "parameters": {
          "jsCode": "const lead      = $('Match Lead').item.json;\nconst callDate  = $('Extract Phone').item.json.call_date;\nconst transcript = $('Extract Transcript').item.json.transcript || '';\n\nconst prompt = `You are an assistant to an automation developer in New Zealand who works with real estate agents.\n\nAnalyse this discovery call transcript and return ONLY valid JSON with this exact structure:\n\n{\n  \"summary\": \"2-3 sentence summary of the call\",\n  \"pain_points\": [\"pain point 1\", \"pain point 2\"],\n  \"crm_tools\": [\"tool/CRM name\"],\n  \"agent_type\": \"e.g. Independent, Franchise, Residential, Commercial, Development\",\n  \"team_size\": \"e.g. Solo, 2-5, 5+\",\n  \"interest_level\": \"Hot | Warm | Cold\",\n  \"interest_reasoning\": \"1-2 sentences explaining why\",\n  \"suggested_automations\": [\n    {\"name\": \"automation name\", \"description\": \"how it would help this specific agent\"}\n  ],\n  \"next_steps\": [\"specific action 1\", \"specific action 2\"],\n  \"objections\": [\"objection 1 if any\"]\n}\n\nContext:\n- Lead name: ${lead.lead_name}\n- Agency: ${lead.lead_agency || 'Unknown'}\n- Call date: ${callDate}\n- NZ real estate CRMs to watch for: ARO Software, Rex, PropertyMe, Agentbox, MyDesktop, Vault\n- Common pain points: enquiry follow-up speed, appraisal prep, listing admin, open home follow-up, buyer nurturing\n- Automation pitch framing: human-in-the-loop \u2014 agent approves everything\n- Transcript may use \"Speaker A / Speaker B\" labels \u2014 Speaker A is typically Brandon (the caller), Speaker B is the agent (the lead)\n\nTranscript:\n${transcript}`;\n\nreturn [{ json: { prompt } }];"
        },
        "id": "40b3cf41-9f76-450a-a5d4-11c41abc4973",
        "name": "Build Claude Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3056,
          384
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini",
            "cachedResultName": "gpt-4o-mini"
          },
          "messages": {
            "values": [
              {
                "content": "={{ $('Build Claude Payload').item.json.prompt }}"
              }
            ]
          },
          "options": {}
        },
        "id": "69006d82-8775-4065-8add-6c77194e227e",
        "name": "Analyse with Claude",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1,
        "position": [
          3280,
          384
        ],
        "credentials": {
          "openAiApi": {
            "id": "YOUR_OPENAI_CREDENTIAL_ID",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const json      = $input.item.json;\nconst lead      = $('Match Lead').item.json;\nconst phoneMeta = $('Extract Phone').item.json;\nconst transcript = $('Extract Transcript').item.json.transcript || '';\n\n// Anthropic node returns json.text; OpenAI node returns json.message.content\nlet raw = json.text || (json.message && json.message.content) || '';\nraw = raw.trim().replace(/^```json?\\s*/i, '').replace(/\\s*```$/, '');\n\nlet a;\ntry {\n  a = JSON.parse(raw);\n} catch(e) {\n  a = {\n    summary: 'Parse error \u2014 review transcript manually',\n    pain_points: [], crm_tools: [], agent_type: 'Unknown',\n    team_size: 'Unknown', interest_level: 'Unknown',\n    interest_reasoning: '', suggested_automations: [],\n    next_steps: ['Review transcript manually'], objections: [],\n  };\n}\n\nconst arr = (v) => Array.isArray(v) ? v : [];\n\nconst pain_str = arr(a.pain_points).join('; ');\nconst crm_str  = arr(a.crm_tools).join(', ');\nconst auto_str = arr(a.suggested_automations)\n  .map(x => typeof x === 'object' ? `${x.name}: ${x.description}` : String(x))\n  .join(' | ');\nconst next_str = arr(a.next_steps).join(' | ');\nconst obj_str  = arr(a.objections).join('; ');\n\nconst sms_body = [\n  `Call: ${lead.lead_name} (${lead.lead_agency || 'Unknown agency'}) \u2014 ${phoneMeta.call_date}`,\n  `Interest: ${a.interest_level} \u2014 ${a.interest_reasoning || ''}`,\n  `Pain: ${arr(a.pain_points).slice(0, 2).join(', ') || 'See report'}`,\n  `Next: ${arr(a.next_steps)[0] || 'Review notes'}`,\n].join('\\n');\n\nreturn [{ json: {\n  // Structured analysis\n  summary:                  a.summary || '',\n  pain_points_str:          pain_str,\n  crm_tools_str:            crm_str,\n  agent_type:               a.agent_type || '',\n  team_size:                a.team_size || '',\n  interest_level:           a.interest_level || '',\n  interest_reasoning:       a.interest_reasoning || '',\n  suggested_automations_str: auto_str,\n  next_steps_str:           next_str,\n  objections_str:           obj_str,\n  // Lead context\n  lead_name:    lead.lead_name,\n  lead_agency:  lead.lead_agency,\n  lead_mobile:  lead.lead_mobile,\n  call_date:    phoneMeta.call_date,\n  file_id:      phoneMeta.file_id,\n  // Full transcript\n  transcript,\n  // SMS\n  sms_body,\n}}];"
        },
        "id": "ac6e466d-abda-4431-ba65-fd0d4367bee5",
        "name": "Parse Analysis",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3632,
          384
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "YOUR_SPREADSHEET_ID",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Discovery Calls",
            "mode": "name",
            "cachedResultName": "Discovery Calls"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Date": "={{ $json.call_date }}",
              "Lead Name": "={{ $json.lead_name }}",
              "Phone": "={{ $json.lead_mobile }}",
              "Summary": "={{ $json.summary }}",
              "Pain Points": "={{ $json.pain_points_str }}",
              "Tools / CRM Used": "={{ $json.crm_tools_str }}",
              "Agent Type": "={{ $json.agent_type }}",
              "Interest Level": "={{ $json.interest_level }}",
              "Suggested Automations": "={{ $json.suggested_automations_str }}",
              "Recommended Next Steps": "={{ $json.next_steps_str }}",
              "Objections Raised": "={{ $json.objections_str }}",
              "Transcript": "={{ $json.transcript }}"
            }
          },
          "options": {}
        },
        "id": "a1a79912-61ef-4d9b-88bb-864757db8449",
        "name": "Log to Discovery Calls",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          3856,
          384
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "YOUR_SPREADSHEET_ID",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Leads",
            "mode": "name",
            "cachedResultName": "Leads"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "Mobile"
            ],
            "value": {
              "Mobile": "={{ $('Parse Analysis').item.json.lead_mobile }}",
              "Outcome": "Discovery Call Done"
            }
          },
          "options": {}
        },
        "id": "b0a2e5eb-a777-4f2d-9aac-40f2ab80346c",
        "name": "Update Leads Outcome",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          4080,
          384
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "move",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Extract Phone').item.json.file_id }}",
            "mode": "id"
          },
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "YOUR_DISCOVERY_CALLS_SHEET_ID",
            "mode": "id"
          }
        },
        "id": "9345da7d-77f1-4a13-a55f-fefd9089befc",
        "name": "Move to Processed",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          4304,
          384
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
            "name": "Google Drive account"
          }
        }
      }
    ],
    "connections": {
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Extract Phone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Phone": {
        "main": [
          [
            {
              "node": "Read Leads Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Leads Sheet": {
        "main": [
          [
            {
              "node": "Match Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Match Lead": {
        "main": [
          [
            {
              "node": "Lead Matched?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lead Matched?": {
        "main": [
          [
            {
              "node": "Download Audio",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Download Audio": {
        "main": [
          [
            {
              "node": "Upload to AssemblyAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to AssemblyAI": {
        "main": [
          [
            {
              "node": "Submit Transcription",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Submit Transcription": {
        "main": [
          [
            {
              "node": "Wait for Transcription",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait for Transcription": {
        "main": [
          [
            {
              "node": "Get Transcription",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Transcription": {
        "main": [
          [
            {
              "node": "Check Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Status": {
        "main": [
          [
            {
              "node": "Extract Transcript",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait for Transcription",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Transcript": {
        "main": [
          [
            {
              "node": "Build Claude Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Claude Payload": {
        "main": [
          [
            {
              "node": "Analyse with Claude",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyse with Claude": {
        "main": [
          [
            {
              "node": "Parse Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Analysis": {
        "main": [
          [
            {
              "node": "Log to Discovery Calls",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log to Discovery Calls": {
        "main": [
          [
            {
              "node": "Update Leads Outcome",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Leads Outcome": {
        "main": [
          [
            {
              "node": "Move to Processed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Your Name",
    "name": "Version d73ab96c",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-18T19:58:23.383Z",
        "id": 151,
        "workflowId": "YOUR_WF3_WORKFLOW_ID",
        "versionId": "YOUR_WF3_ACTIVE_VERSION_ID",
        "event": "activated",
        "userId": "YOUR_N8N_USER_ID"
      }
    ]
  }
}